$sizes-prefix: get('sizes.prefix');
$sizes-position: get('sizes.position');
$sizes-size: get('sizes.size');

@each $name, $value in $sizes-position {
  @each $size-value in $sizes-size {
    .#{$sizes-prefix + $value + $size-value} {
      #{$name}: $size-value * 1%;
    }
  }
}
