@each $name, $value in $headings-size {
  .#{$headings-prefix-size}#{$name} {
    font-size: $value;
  }
}

.#{$headings-prefix} {
  font-family: $headings-font;
  line-height: $headings-line-height;
}
