@each $name, $value in $margin-position {
  @each $name-size, $value-size in $margin-size {
    .#{$margin-prefix + contains-default($value) + $margin-separator + $name-size} {
      @if $name == vertical {
        margin-bottom: $value-size;
        margin-top: $value-size;
      } @else if $name == horizontal {
        margin-left: $value-size;
        margin-right: $value-size;
      } @else {
        margin#{contains-default($name, '-')}: $value-size;
      }
    }
  }
}
