$prefix: get('config.prefix');
$prefix-modifier: get('config.prefix-modifier');

$border-prefix: get('border.prefix');
$border-position: get('border.position');
$border-size: get('border.size');

$color: get('color');

$display: get('display');

$flex-display: get('flex.display');
$flex-justify: get('flex.justify');
$flex-align-items: get('flex.align-items');

$headings-size: get('headings.size');
$headings-line-height: get('headings.line-height');
$headings-font: get('headings.font-family');
