// GRID
$grid-col: get('grid.col');
$grid-gutter: get('grid.gutter');
$grid-container: get('grid.container');

// PREFIX
$prefix: get('config.prefix');
$prefix-modifier: get('config.prefix-modifier');

$sizes-prefix: get('sizes.prefix');
$sizes-size: get('sizes.size');
$sizes-position: get('sizes.position');
$sizes-separator: get('sizes.separator');

$border-prefix-position: get('border.prefix-position');
$border-prefix-size: get('border.prefix-size');
$border-position: get('border.position');
$border-size: get('border.size');

$color-prefix: get('color.prefix');
$color: get('color.list');

$theme-prefix: get('theme.prefix');
$theme: get('theme.list');

$display: get('display.list');
$display-prefix: get('display.prefix');

$flex-prefix: get('flex.prefix');
$flex-separator: get('flex.separator');
$flex-justify: get('flex.justify');
$flex-align-items: get('flex.align-items');

$headings-size: get('headings.size');
$headings-line-height: get('headings.line-height');
$headings-font: get('headings.font-family');
$headings-prefix: get('headings.prefix');
$headings-prefix-size: get('headings.prefix-size');

$margin-prefix: get('margin.prefix');
$margin-separator: get('margin.separator');
$margin-position: get('margin.position');
$margin-size: get('margin.size');

$padding-prefix: get('padding.prefix');
$padding-separator: get('padding.separator');
$padding-position: get('padding.position');
$padding-size: get('padding.size');

$breakpoint-prefix: get('breakpoint.prefix');
$breakpoint-size: get('breakpoint.size');

$text-prefix: get('text.prefix');
$text-size: get('text.size');
$text-weight: get('text.weight');
$text-align: get('text.align');
$text-transform: get('text.transform');

$rounded: get('rounded.list');
$rounded-prefix: get('rounded.prefix');
