table code,
.un-header__excerpt code {
  background: #f9f9f9;
  border: 1px solid $color-border;
  border-radius: 3px;
  color: #5d5d5d;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 5px;
  vertical-align: middle;
}

.un-code-wrap,
.un-code {
  position: relative;
}

.un-code-wrap {
  margin-top: -30px;

  &::before {
    background: rgba(#000, .02);
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: -10px;
    bottom: -10px;
    width: 400px;
  }

  + .un-code-wrap .un-code {
    box-shadow: none;
    padding-top: 30px;
  }
}

.un-code {
  padding-top: 60px;

  .hljs {
    background: transparent;
    font-size: 14px;
    line-height: .75;
    padding-left: 0;
    padding-right: 0;
  }
}
