.un-icons {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  margin: -10px;
}

.un-icons__item {
  @extend %box;
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: 10px;
  position: relative;
  cursor: pointer;
  transition: box-shadow .3s;

  svg {
    fill: #4C4C4C;
    height: auto;
    width: 32px;
  }

  &:hover {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .1);

    .un-icons__label {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -5px);
    }
  }
}

.un-icons__label {
  position: absolute;
  bottom: 100%;
  background: #4C4C4C;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  left: 50%;
  font-size: 11px;
  padding: 5px 10px;
  transform: translate(-50%, 0);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}
