.un-box-list {
  margin: $margin-box * -1;
}

.un-box-item {
  @extend %item;
  align-items: center;
  display: inline-flex;
  height: 80px;
  justify-content: center;
  margin: $margin-box;
  width: 80px;
}

.un-box-margin {
  @extend %item;
  display: inline-block;
  margin: $margin-box;

  span {
    background: #ffffff;
    border: 1px solid $color-border;
    display: inline-block;
    padding: 5px;
  }
}

.un-box-flex {
  @extend %item;
  display: flex;
  margin: $margin-box;

  span {
    background: #ffffff;
    border: 1px solid $color-border;
    display: inline-block;
    padding: 5px;
  }
}

.un-box-align {
  @extend %item;
  display: inline-flex;
  height: 80px;
  justify-content: center;
  margin: $margin-box;
  width: 80px;

  span {
    background: #ffffff;
    border: 1px solid $color-border;
    padding: 5px;
  }
}

.un-list-flex {
  display: flex;
}

.un-item-display {
  margin: $margin-box;
}

.un-box-padding {
  @extend %item;
  display: inline-block;
  margin: $margin-box;

  .un-box-item {
    background: #ffffff;
    border: 1px solid $color-border;
    display: flex;
    margin: 0;
  }
}

.un-item {
  @extend %item;
  padding: 10px;
}
