.un-section-header {
  border-bottom: 1px solid $color-border;
  border-top: 1px solid $color-border;
  font-size: 60px;
  font-weight: 900;
}

.un-section-header__title.un-section {
  border-top: 2px solid $color-primary;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 40px;
  padding-top: 40px;
}

.un-section {
  align-items: flex-start;
  max-width: 1024px;
  margin: 50px auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.un-section__small {
  margin-right: 30px;
  min-width: 240px;
  max-width: 240px;
}

.un-section__full {
  flex: 1;
}

.un-section__excerpt p {
  line-height: 1.4;

  &:nth-child(1n+2) {
    margin-top: 15px;
  }
}

.un-section-info .un-header {
  margin-bottom: 0;
}

.un-section-full {
  .un-example {
    background: none;
    box-shadow: none;
    margin-bottom: 20px;
    padding: 0;
  }

  .un-code-wrap {
    margin-top: 0;
  }

  .un-code {
    padding: 30px;
  }
}
