$color-border: #D8D8D8;
$color-primary: #E6B0FF;
$color-secondary: #F7F0F5;

$margin-box: 5px;

body {
  background: #fdfdfd;
  color: #4C4C4C;
  font: 16px/1 'Open Sans', sans-serif;
}

.color {
  background: currentColor;
  display: inline-block;
  height: 25px;
  border-radius: 5px;
  width: 45px;
}
