$color-border: #D8D8D8;
$color-primary: #E6B0FF;

%item {
  background: #F7F0F5;
  color: #666;
  font-size: 11px;
  text-transform: uppercase;
  margin: 10px;
}

.un-box-item {
  @extend %item;
  align-items: center;
  display: inline-flex;
  height: 80px;
  justify-content: center;
  width: 80px;
}

.un-item {
  @extend %item;
  padding: 20px;
}

//----------------------------------------

%box {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .05);
  background: #ffffff;
  border-radius: 10px;
}

.un-flex {
  display: flex;
}

.un-box {
  @extend %box;
  padding: 30px;
}

.un-mb-small {
  margin-bottom: 8px;
}

.un-mb-medium {
  margin-bottom: 30px;
}

.un-text-bold {
  font-weight: 700;
}

//----------------------------------------

.un-example {
  position: relative;
  z-index: 2;
}

//----------------------------------------
.un-code-wrap,
.un-code {
  position: relative;
}

.un-code-wrap {
  margin-top: -30px;

  &::before {
    background: rgba(#000, .02);
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: -10px;
    bottom: -10px;
    width: 400px;
  }

  + .un-code-wrap .un-code {
    box-shadow: none;
    padding-top: 30px;
  }
}

.un-code {
  padding-top: 60px;

  .hljs {
    background: transparent;
    font-size: 14px;
    line-height: .75;
    padding-left: 0;
    padding-right: 0;
  }
}

//----------------------------------------

.un-prefix__label {
  border-right: 1px solid $color-border;
  color: $color-primary;
  margin-right: 10px;
  padding-right: 12px;
  text-transform: uppercase;
}

//----------------------------------------

.un-header__title {
  font-size: 40px;
}

.un-header__excerpt {
  line-height: 1.2;
}

.un-header__tag {
  font-size: 14px;
  display: inline-block;
  margin-left: 40px;
  position: relative;
  text-transform: uppercase;

  &::before {
    background: $color-primary;
    border-radius: 5px;
    content: "";
    height: 5px;
    margin-right: 10px;
    right: 100%;
    position: absolute;
    top: calc(50% - 2.5px);
    width: 30px;
  }
}

//----------------------------------------

.un-section {
  max-width: 1024px;
  margin: 100px auto;
  position: relative;

  &.un-full .un-prefix {
    position: absolute;
    right: 0;
    top: 0;
  }

  &.un-full .un-section__sidebar {
    width: 100%;
  }
}

.un-section.un-small {
  .un-content,
  .un-section__content {
    display: flex;
  }

  .un-table-wrap,
  .un-section__sidebar {
    margin-right: 30px;
  }

  .un-section__sidebar {
    width: 240px;
  }

  .un-section__slot {
    flex: 1;
  }

  .un-table-wrap__title {
    display: none;
  }
}

.un-section__sidebar {
  margin-right: 30px;
  width: 240px;
}

.un-section__content {
  flex: 1;
}

//----------------------------------------
.un-table {
  @extend %box;
  border-radius: 10px;
  border-collapse: collapse;
  overflow: hidden;
  width: 200px;

  thead,
  tbody {
    @extend %box;
  }

  thead {
    color: $color-primary;
  }

  td,
  th {
    text-align: left;
  }

  tr:last-child div {
    border: 0;
  }

  td:first-child div,
  td:last-child div {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      height: 5px;
      width: 20px;
      background: #fff;
    }
  }

  td:first-child div::before {
    left: 0;
  }

  td:last-child div::before {
    right: 0;
  }

  div {
    padding: 15px 20px;
  }

  tbody div {
    border-bottom: 1px solid $color-border;
  }
}
